.title {
  margin: 1rem 0 ;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 0 1rem;
}

.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-right: 2rem;
}

.search label {
  padding-right: 1rem;
  font-size: 1.414em;
}

.thumb {
  height: 150px;
  width: auto;
}

.infoTitle {
  margin: 0 0 .5rem 0;
}

.results {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.location-info {
  margin-bottom: 1rem;
}

.thumb-desc {
  max-width: 250px;
  margin-bottom: .5rem;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 4rem;
  }

  .search {
    margin-top: 0;
  }
}
